<ion-content force-overscroll="false">
  <gl-background-video
    src="assets/splash-2.mp4"
    poster="assets/background-video/background-video-image.png"
  ></gl-background-video>
  <div class="page-centered-element">
    <div class="content">
      <h1>pYkar</h1>
      <ion-list>       
        <ion-item>
          <ion-input type="text" [(ngModel)]="mobileNo" placeholder= "Mobile No."></ion-input> <ion-button fill="solid"    (click)="login()">Login</ion-button>
        </ion-item>
        </ion-list>
    </div>
  </div>
</ion-content>
